/* estilo general */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #A48D6C;
    margin: 0%;
    padding: 0%;
}

/* Encabezado */
header {
    background-color: #050505;
    color: #B9B9B9;
    text-align: center;
    padding: 30px 10px;
}

header h1 {
    margin: 0%;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0 0;
}

header img {
    display: flex;
    text-align: center;
    width: 10rem;
    height: auto;
}

/* Barra de navegación */
nav ul {
    list-style: none;
    background-color: #B9B9B9;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 14px 20px;
}

nav ul li a {
    color: #050505;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #050505;
    color: #b9b9b9;
}

/* COntenedor principal */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;;
}

.Coronas {
    background-color: #AF9454;
    border: 1px solid #B9B9B9;
    border-radius: 10px;
    padding: 20px;
    max-width: 400;
    box-shadow: 0 4px 8x rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Coronas h2 {
    text-align: center;
    font-size: 50px;
}

.corona-o {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.corona-oro img:hover{
    transform: scale(1.03);
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
}

.corona-oro img {
    background-color: #B9B9B9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.corona-oro img {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
}

.corona-p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.corona-plata img:hover{
    transform: scale(1.03);
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
}

.corona-plata img {
    background-color: #B9B9B9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.corona-plata img {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
}

/* pie de página */
footer {
    background-color: #050505;
    color: #B9B9B9;
    text-align: center;
    padding: 15px;
}